.media-wrapper {
  /*******************************************************
  *
  * Most common stuff you'll need to change
  * will be below this line.
  *
  ********************************************************/
  /******************************************************
  *
  * Main wrapper padding
  *
  *******************************************************/
  margin: 0px auto;
  padding: 10px 0;


}

.media-wrapper .media {
  /******************************************************
  *
  * Inner wrapper styles
  *
  *******************************************************/
  background: #f2f2f2;
  /******************************************************
  *
  * Width of the container. Typically you will want to
  * match this with the width of the panel as well.
  *
  *******************************************************/
  width: 1024px;

}

.media-wrapper .media .panel {
  /******************************************************
  *
  * Width of each individual panel.
  * Typically you will want to match this with the width
  * of the container as well.
  *
  *******************************************************/
  width: 700px;
}

.media-wrapper .media .panel .panel-wrapper {
  /******************************************************
  *
  * Panel wrapper styles
  *
  *******************************************************/
  padding: 20px;
}

.media-wrapper .mediabox-nav {
  /******************************************************
  *
  * Tab styles
  *
  *******************************************************/
}

.media-wrapper .mediabox-nav .current {
  /******************************************************
  *
  * Current tab styles
  *
  *******************************************************/
  background: #dcedf2;
}

.media-wrapper .media-nav a {
  /******************************************************
  *
  * Tab styles
  *
  *******************************************************/
  background: #000;
  color: #fff;
  margin-right: 1px;
  padding: 3px 6px;
}

.media-wrapper .media-nav a:hover {
  /******************************************************
  *
  * Tab styles
  *
  *******************************************************/
  background: #000;
  color: #fff;
  text-shadow: none;
}

.media-wrapper .media-nav-left, .media-wrapper .media-nav-right {
  /******************************************************
  *
  * Arrow Styles
  *
  *******************************************************/
}

.media-wrapper , .media-wrapper, {
  /******************************************************
  *
  * Arrow Styles
  *
  *******************************************************/
  background: #dcedf2;
  color: #fff;
  padding: 5px;
  width: 100px;
  height: 273px;


}

.media-nav-left a {
  background: #dcedf2;
  color: #fff;
  padding: 5px;
  width: 100px;
  height: 334px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: url(../images/icons/nav-left.png) #dcedf2 no-repeat center center;
}

.media-nav-right a {
  background: #dcedf2;
  color: #fff;
  padding: 5px;
  width: 100px;
  height: 334px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: url(../images/icons/nav-right.png) #dcedf2 no-repeat center center;
}

.media-wrapper .media-nav-left-arrow {
  /******************************************************
  *
  * Graphical arrow styles
  *
  *******************************************************/
  width: 25px;
  height: 25px;
  background: url(../img/arrow.png) no-repeat top left;
  margin-top:50px;
}

.media-wrapper .media-nav-left-arrow a {
  /******************************************************
  *
  * Graphical arrow styles
  *
  *******************************************************/
  width: 0;
  height: 0;
  border:none;
}

.media-wrapper .media-nav-left-arrow:hover {
  /************************************************
  *
  * Graphical arrows hover left
  *
  *************************************************/
  background: url(../img/arrow.png) no-repeat bottom left;
}

.media-wrapper .media-nav-right-arrow {
  /******************************************************
  *
  * Graphical arrow styles
  *
  *******************************************************/
  width: 25px;
  height: 25px;
  background: url(../img/arrow.png) no-repeat top right;
  margin-top:50px;
}
.media-wrapper .media-nav-right-arrow a {
  /******************************************************
  *
  * Graphical arrow styles
  *
  *******************************************************/
  width: 0;
  height: 0;
  background: none;
  margin-top:0;
  border:none;
}

.media-wrapper .media-nav-right-arrow:hover {
  /************************************************
  *
  * Graphical arrows hover right
  *
  *************************************************/
  background: url(../img/arrow.png) no-repeat bottom right;
}

.media-wrapper .media-nav-left-arrow:active, .media-wrapper .media-nav-right-arrow:active {
  /************************************************
  *
  * Graphical arrows active
  *
  *************************************************/
  margin-top: 55px;
}

.media-wrapper .loading {
  /******************************************************
  *
  * Style for preloader
  *
  *******************************************************/
  height: 100%;
  padding: 20px;
  text-align: center;
}




.arrows .media {
  /******************************************************
  *
  * Margin between slider and arrows
  *
  *******************************************************/
  margin: 0 10px;
}

/**********************************************************************
*
* Don't change anything below here unless you know what you're doing
*
***********************************************************************/

.media-wrapper {
  /************************************************
  *
  * Wrapper styles
  *
  *************************************************/
  clear: both;
  overflow: auto;
}

.media-wrapper .media {
  /************************************************
  *
  * slider styles
  *
  *************************************************/
  float: left;
  overflow: hidden;
  position: relative;
}

.media-wrapper .media .panel-container {
  /************************************************
  *
  * Panel container styles
  *
  *************************************************/
  position: relative;
}

.media-wrapper .media .panel-container .panel {
  /************************************************
  *
  * Panel styles
  *
  *************************************************/
  display: block;
  float: left;

}

.media-wrapper .media-nav {

  /************************************************
  *
  * Navigation tabs
  *
  *************************************************/
}

.media-wrapper .media-nav ul {
  /************************************************
  *
  * Navigation tabs
  *
  *************************************************/
  clear: both;
  display: block;
  margin: auto;
  overflow: hidden;
}

.media-wrapper .media-nav ul li {
  /************************************************
  *
  * Navigation tabs
  *
  *************************************************/
  display: inline;
}

.media-wrapper .media-nav ul li a {
  /************************************************
  *
  * Navigation tabs
  *
  *************************************************/
  display: block;
  float: left;
  text-decoration: none;
}

.media-wrapper .media-nav-left-arrow, .media-wrapper .media-nav-right-arrow {
  /************************************************
  *
  * Graphical arrows
  *
  *************************************************/
  cursor: pointer;
  float: left;
}

.media-wrapper .media-nav-left-arrow a, .media-wrapper .media-nav-right-arrow a {
  /************************************************
  *
  * Graphical arrows
  *
  *************************************************/
  display: block;
}

.media-wrapper .media-nav-left, .media-wrapper .media-nav-right {
  /************************************************
  *
  * Html arrows
  *
  *************************************************/
  float: left;
}

.media-wrapper .mediabox-nav-left a, .media-wrapper .media-nav-right a {
  /************************************************
  *
  * Html arrow styles
  *
  *************************************************/
  display: block;
  text-align: center;
  text-decoration: none;
}

.media-wrapper .media-nav-left, .media-wrapper .media-nav-left-arrow {
  /************************************************
  *
  * Html and graphical arrow styles
  *
  *************************************************/
  clear: both;
}

#heading {
  text-align: center;
}

.media-nav-left {
  a {
    width: 63px;
  }
}

.media-nav-right {
  a {
    width: 64px;
  }
}

#media-wrapper {
  float:left;
  width: 100%;

  .mediabox-nav ul {
    padding-top: 3px;
    padding-bottom: 3px;
    padding: 0 0 0 28px;
  }

  .media-nav {
    background-color: #f5fafb;
    width: 973px;
    margin: 0px auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    a {
      float: left;
      color: #a7c6c9;
      font-size: 12px;
      margin:0;
      &:active {
        color: #0c494e;
      }
    }

    .tab1 {
      a {
        background: url("../images/icons/postings.png") no-repeat 0 0;
        padding: 8px 0 0px 43px;


      }
    }

    .tab2 {

      a {
        background: url("../images/icons/nach.png") 0 0 no-repeat;
        padding: 7px 0 1px 90px;
        background-position: 51px 2px;
      }
    }

    .tab3 {

      a {
        background: url("../images/icons/meinprofil.png") 0 0 no-repeat;
        padding: 8px 0 0px 80px;
        background-position: 46px -2px;
      }
    }

    .tab4 {

      a {
        background: url("../images/icons/potenzial.png") 0 0 no-repeat;
        padding: 7px 0 0px 86px;
        background-position: 58px 1px;
      }
    }

    .tab5 {

      a {
        background: url("../images/icons/info.png") 0 0 no-repeat;
        padding: 7px 0 1px 75px;
        background-position: 49px 4px;
      }
    }

    .tab6 {

      a {
        background: url("../images/icons/info.png") 0 0 no-repeat;
        padding: 8px 0 1px 62px;
        background-position: 40px;
      }
    }

    a {
      display: block;
      float: left;
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.media-wrapper {

  .media {
    height: 344px !important;
    margin: 0;
    width: 878px;
    background: #dcedf2;
  }
}