.container-left {
  float: left;
}

.container-right {
  width: 0;
  display: none;

  &.active {
    display: inline;
    float: left;
    width: 177px;
    padding: 0 9px;
    border-radius: 8px;
    background-color: #fff;
  }
}

.yourComment {
  background: url('../images/icons/write-comment.png') no-repeat;
  padding: 0px 0 0 35px;
  margin: 10px 0 0;
  line-height: 26px;
  font-weight: bold;
  color: #0c494e;
  font-size: 12px;
}

.commentText {

  min-height: 290px;
  background: url('../images/textLines.png') ;
  padding: 4px 0 0;
  line-height: 24px;
}

/* just for testing */
.containerPostings {

  &.active {
    border: 2px solid;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
  }
}
