.containerPostings {
  width: 289px;
  float: left;
  color: $blue;
  font-size: 11px;
  margin-right: 4px;
  position: relative;

  &.last {

    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .post-wrap {
    width: 269px;
    margin-right: 4px;
    background-color: white;
    padding: 2px 10px;

    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
  }

  p {
    margin: 0;
  }

  &.last {
    margin-right: 0;
  }

  .time {

    p {
      margin: 2px 0;
      line-height: 13px;
      height: 13px;

      &.date {
        padding-left: 20px;
        float: left;
      }

      &.watch {
        float: right;
      }

      &.high {
        background: url("../images/icons/indicator3.png") 0 0 no-repeat;
      }

      &.mid {
        background: url("../images/icons/indicator1.png") 0 0 no-repeat;
      }

      &.low {
        background: url("../images/icons/indicator2.png") 0 0 no-repeat;
      }
    }
  }

  .post {
    color: $black;

    .main-img {
      margin-right: 10px;
    }

    .info {
      padding: 6px 0 0 50px;
      position: relative;
      min-height: 54px;

      .text {
        position: relative;
        top: -2px;
      }
      
      .profile {
        position: absolute;
        left:0;
      }

      .options {
        position: relative;
        top: 2px;
        text-decoration: none;
        &.icons-dropdown {
          background-position: 0 -3274px;
        }
      }
    }
  }

  .comments {
    width: 269px;
    margin-right: 4px;
    background-color: white;
    padding: 2px 10px;
    margin-top: 2px;
    color: $black;

    &.last {
      -moz-border-radius-bottomleft: 8px;
      -webkit-border-bottom-left-radius: 8px;
      border-bottom-left-radius: 8px;
      -moz-border-radius-bottomright: 8px;
      -webkit-border-bottom-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .box {
      margin: 6px 0 0 50px;
      position: relative;
      min-height: 54px;

      .text {
        position: relative;
        top: -5px;
      }

      .profile {
        position: absolute;
        left: -50px;
      }

      .options {
        position: relative;
        top: 4px;
        text-decoration: none;
      }
    }
  }
}

.column {
  width: 289px;
  float: left;
  margin-right: 4px;

  &.last {
    margin-right: 0;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .menu {
    position: absolute;
  }
}

.message-column {
  padding: 10px 20px;
  background-color: white;
  border-radius: 15px;
  color: $black;
  height: 310px;
  font-size: 12px;

  .single {
    width: 408px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #dcedf2;
    height: 146px;
    border: 2px solid #cde3ea;
    position: relative;

    p {
      margin: 0;
    }

    .info {
      width: 165px;
      position: absolute;
      left: 0;
      top: 0;

      .up {
        padding: 10px 10px 0 10px;

        .drop-menu {
          margin-left: 8px;
        }

        span {
          background: url("../images/icons/dot.png") 0px 5px no-repeat;
          width: 6px;
          margin-left: 8px;
        }

        .messages {
          color: $blue;
          text-decoration: none;
          margin: 1px 0 2px 8px;
        }

        .von {
          width: 94px;
          margin-left: 8px;
          border-bottom: 1px dotted;
        }
      }

      .down {
        padding: 0 10px 10px 10px;

        .date {
          margin-top: 5px;
        }

        .name {
          margin-top: 3px;
        }
      }
    }

    .text {
      position: absolute;
      right: 0;
      top: 0;
      width: 217px;
      padding: 10px 16px 10px 16px;
      background-color: white;
      font-size: 12px;
      height: 126px;
      line-height: 14px;

      -moz-border-radius-topleft: 15px;
      -webkit-border-top-left-radius: 15px;
      border-top-left-radius: 15px;
      -moz-border-radius-topright: 15px;
      -webkit-border-top-right-radius: 15px;
      border-top-right-radius: 15px;
      -moz-border-radius-bottomright: 15px;
      -webkit-border-bottom-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  .single.received {

    .float-l {
      float: right;
    }

    .text {
      right: 159px;

      -moz-border-radius-bottomright: 0;
      -webkit-border-bottom-right-radius: 0;
      border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 15px;
      -webkit-border-bottom-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    .info {
      left: 253px;

      .up {
        padding: 10px 20px 0 0;

        .drop-menu {
          margin-right: 8px;
        }

        .messages {
          margin: 1px 8px 2px 0;
        }

        .von {
          margin-right: 8px;
          margin-left: 0;
          text-align: right;
        }
      }

      .down {
        padding: 0 20px 10px 3px;
      }
    }
  }

  .single.read {

    .text {
      background-color: #f1f8fa;
    }
  }

  .single.active {
    border: 2px solid #9fc4d4;
  }
}

.single-post-container {

  .containerPostings {
    min-height: 330px;
    background-color: white;

    border-radius: 15px;

    .comments {
      margin-top: 0px;
      background-color: transparent;
      padding: 0 10px;

      .box {
        margin: 0 0 0 50px;
        padding-top: 6px;
      }
    }

    .post-wrap {
      background-color: transparent;
    }
  }
}