@font-face {
  font-family: 'Cosmetica';
  src: url('../fonts/mgopencosmeticabold-webfont.eot');
  src: url('../fonts/mgopencosmeticabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/mgopencosmeticabold-webfont.woff') format('woff'),
  url('../fonts/mgopencosmeticabold-webfont.ttf') format('truetype'),
  url('../fonts/mgopencosmeticabold-webfont.svg#mgopen_cosmeticabold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cosmetica';
  src: url('../fonts/mgopencosmeticaboldoblique-webfont.eot');
  src: url('../fonts/mgopencosmeticaboldoblique-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/mgopencosmeticaboldoblique-webfont.woff') format('woff'),
  url('../fonts/mgopencosmeticaboldoblique-webfont.ttf') format('truetype'),
  url('../fonts/mgopencosmeticaboldoblique-webfont.svg#mgopen_cosmeticabold_oblique') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cosmetica';
  src: url('../fonts/mgopencosmeticaoblique-webfont.eot');
  src: url('../fonts/mgopencosmeticaoblique-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/mgopencosmeticaoblique-webfont.woff') format('woff'),
  url('../fonts/mgopencosmeticaoblique-webfont.ttf') format('truetype'),
  url('../fonts/mgopencosmeticaoblique-webfont.svg#mgopen_cosmeticaoblique') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cosmetica';
  src: url('../fonts/mgopencosmeticaregular-webfont.eot');
  src: url('../fonts/mgopencosmeticaregular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/mgopencosmeticaregular-webfont.woff') format('woff'),
  url('../fonts/mgopencosmeticaregular-webfont.ttf') format('truetype'),
  url('../fonts/mgopencosmeticaregular-webfont.svg#mgopen_cosmeticaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}