body {
  font-family: 'Verdana', Geneva, sans-serif;
  font-size: 16px;
}


.menuArrow {
  background: url('../images/menudown.png') no-repeat 10px 10px;
  width: 67px;
  left: 21px;
  margin-left: 816px;
  z-index: 200;
}

header {
  width: 100%;
  margin-top: 10px;
  position: relative;

  .logo {
    display: block;
    height: 45px;
    width: 156px;
    margin: 10px 0 0 15px;
  }

  nav {
    float: right;
    border-right: 1px solid #dcedf2;
    margin-top: 20px;
    margin-right: 61px;
    width: 750px;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      float: right;
      border-left: 1px solid #dcedf2;
    }

    a {
      height: 26px;
      padding: 0 8px;
      color: transparent;
      position: relative;
      display: block;
    }

    @for $i from 1 to 12 {
      a.icons-menu-#{$i} {
        width: icons-sprite-width(menu-#{$i});
        $half-height: (26 - icons-sprite-height(menu-#{$i})) / 2;
        @include sprite-background-position($icons-sprites, menu-#{$i}, 8px, $half-height);
      }
    }
  }

  .menuIndicator {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #badadc;
    position: absolute;
    top: 55px;
  }
}

.naviL {
  float: left;
  margin: 4px 0 0 76px;
  padding: 0px 0 0 15px;
  height: 16px;
  line-height: 14px;

  a {
    font-size: 12px;
    text-decoration: none;
    color: #8bb5b9;

    img {
      position: relative;
      top: 3px;
    }
  }
}

.naviR {
  float: left;
  margin: 4px 0 0 37px;
  padding: 0;
  width: 35px;
  height: 16px;
  line-height: 14px;
  background-position-x: 21px;

  a {
    text-decoration: none;

    font-size: 12px;
    color: #8bb5b9;

    img {
      position: relative;
      top: 3px;
    }
  }

}

.offenCheck {
  float: left;
  margin-left: 400px;
  margin-top: 4px;

  .check1, .check2 {
    background: url("../images/check_full.png") 0px 0px no-repeat;
    padding: 3px 0 0 27px;
    display: block;

  }
  .check2 {
    background: url("../images/check_light.png") 0px 0px no-repeat;
  }

  a {
    font-size: 12px;
    text-decoration: none;
    color: #8bb5b9;
    background: url('../images/check_light.png') no-repeat;
    padding-left: 27px;
    padding-top: 3px;

    img {
      position: relative;
      top: 4px;
      left: -4px;
    }
  }
}

.intranetCheck {
  float:left;
  margin: 0 0 0 40px;
  position: relative;

  .inactive {
    background: url("../images/icons/intranet-check.png") 0px 4px no-repeat;
    padding: 6px 0px 0px 50px;

  }
  .intcheck2 {
    background: url("../images/intranet-check.png") 0px 4px no-repeat;
  }

  .submenu {
    background: #fbfafc;
    position: absolute;
    top: 23px;
    left: -4px;
    width: 306px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    z-index: 100;
    display: none;
  }

  a {
    font-size: 12px;
    color: #8bb5b9;
    line-height: 16px;
    z-index: 110;
    display: block;
    height: 22px;
    text-decoration: none;
    cursor: pointer;
    background: url('../images/icons/intranet-check-full.png') 0px 4px no-repeat;
    padding: 6px 0px 0px 50px;

    img {
      position: relative;
      top: 4px;
      left: -4px;
    }
  }

}

.closeTop {
  float: right;
  left: 800px;
  margin-right: 60px;
  width: 20px;

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.searchContainer {
  width: 999px;
  height: 45px;
  margin: 10px 0 6px;
  padding: 10px 10px 10px 15px;
  background-color: #dcedf2;
  @include border-radius(10px);
  position: relative;

  .lower-information {
    width: 690px;
    height: 17px;
    border-top: 1px solid #e1e1e1;
    z-index: 4;
    margin: -16px 8px 0 8px;
    position: relative;

    span {
      font-size: 12px;
    }
  }

  .text-holder {
    position: absolute;
    width: 708px;
    background-color: white;
    z-index: 3;
    @include border-radius(10px);
    border-top: 1px solid #a5bbbf;
    border-right: 1px solid #a5bbbf;
    border-left: 1px solid #a5bbbf;
    border-bottom: 1px solid #dcedf2;
    box-shadow: inset -1px 1px 1px 0px #c9d6d8;
  }

  .searchPostBoxInner {
    padding: 5px 0;
    margin: 2px 0 0 18px;
    width: 635px;
    height: 32px;
    line-height: 16px;
    font-size: 12px;
    background-color: white;
    z-index: 5;
    color: #212125;
    border: none;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  a.upload-image {

    width: 29px;
    height: 12px;
    z-index: 5;
    position: absolute;
    left: 661px;
    top: 8px;
    cursor: pointer;
  }

  a {
    font-family: Cosmetica;
    display: block;
    position: absolute;
    @include border-radius(10px);
    height: 45px;
    text-decoration: none;

    &.arrow {
      background: url('../images/icons/arrow_down.png') no-repeat 10px center #eaf4f7;
      width: 67px;
      left: 15px;
      box-shadow: 0 0 1px #bdcfd3;
    }

    &.search {
      background-color: #f8fbfc;
      padding: 11px 11px 11px 31px;
      width: 135px;
      height: 24px;
      position: absolute;
      left: 709px;
      color: #4c4c4e;
      box-shadow: inset -1px 1px 1px 0px #c9d6d8;
      font-size: 20px;
      z-index: 2;
      border-top: 1px solid #a5bbbf;
      border-right: 1px solid #a5bbbf;

      &:visited {
        color: #4c4c4e;
      }
    }

    &.search-active {
      @include border-top-radius(10px);
      @include border-bottom-radius(0);
    }

    @for $i from 1 to 12 {
      &.icons-menu-#{$i} {
        $addX: ((50 - icons-sprite-width(menu-#{$i})) / 2) + 90;
        $addY: (43 - icons-sprite-height(menu-#{$i})) / 2;
        @include sprite-background-position($icons-sprites, menu-#{$i}, $addX, $addY);
      }
    }

    &.send-post {
      background: #f8fbfc url("../images/icons/post.png") 104px 13px no-repeat;
      padding: 11px 11px 11px 15px;
      width: 126px;
      height: 24px;
      left: 855px;
      font-size: 20px;
      color: #4c4c4e;
      text-indent: 40px;
      box-shadow: inset -1px 1px 1px 0px #c9d6d8;
      border-top: 1px solid #a5bbbf;
      border-right: 1px solid #a5bbbf;

      &:visited {
        color: #4c4c4e;
      }
    }
  }
}

.flash-message {
  font-size: 12px;
  line-height: 12px;
  margin: 2px 0 0 10px;
  float: left;
  max-width: 605px;
}

.message-highlight {
  padding: 0 8px;
  border: 1px solid #f1d297;
  border-radius: 4px;
  background: #f9edd5;
}

.message-slider {
  display: none;
  width: 780px;

  select {
    display: none;
  }

  p {
    float: left;
    font-size: 11px;
    color: $blue;

    &.top {
      margin-top: 7px;
      margin-bottom: 0;
    }

    &.bottom {
      margin-top: 22px;
      margin-bottom: 0;
    }

    &.one {
      margin-left: 3px;
      margin-right: 119px;
    }

    &.two {
      margin-right: 103px;
    }

    &.three {
      margin-right: 91px;
    }

    &.four {
      margin-right: 100px;
    }

    &.five {
      margin-left: 91px;
    }

    &.six {
      margin-left: 69px;
    }

    &.seven {
      margin-left: 51px;
    }

    &.eight {
      margin-left: 79px;
    }

  }
}

.slider-border {
  width: 780px;
  height: 12px;
  position: absolute;
  top: 26px;
  right: 0;

  border-radius: 6px;
  -webkit-box-shadow: -2px 3px 8px rgba(50, 75, 126, 0.75);
  -moz-box-shadow: -2px 3px 8px rgba(50, 75, 126, 0.75);
  box-shadow: inset -2px 3px 8px rgba(50, 75, 126, 0.45);
}

#slider {
  width: 675px;
  top: 25px;
  left: 10px;
  z-index: 10;
}

.ui-slider-horizontal .ui-slider-handle {
  top: 1px;
  margin-left: 1px;
}

.ui-slider .ui-slider-handle {
  height: 10px;
  width: 79px;
}

.ui-widget-header {
  background: none;
}

.ui-widget-content {
  background: none;
  border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  outline: none;
  background: #67aec5; /* Old browsers */
  background: -moz-linear-gradient(top, #67aec5 0%, #5496af 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67aec5), color-stop(100%,#5496af)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #67aec5 0%,#5496af 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #67aec5 0%,#5496af 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #67aec5 0%,#5496af 100%); /* IE10+ */
  background: linear-gradient(to bottom, #67aec5 0%,#5496af 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67aec5', endColorstr='#5496af',GradientType=0 ); /* IE6-9 */
}