.carousel {
  position: relative;
  overflow: hidden;
  width: 876px;
  margin: 0 auto;

  .dateBox {
    float: left;

    .navBox {
      float: left;
      width: 876px;
      color: white;
    }
  }

  .move {
    margin-left: 0;
  }
}

.column {
  position: relative;
}