#mediabox {
  position: relative;
  width: 876px;
  margin: 0 auto;
  overflow: hidden;

  nav {
    width: 800px;
    margin: 0 auto;
    padding: 5px 0;

    a {
      width: 100px;
      text-align: center;
      float: left;
      display: block;
      color: #76b6bb;
      font-size: 11px;
      text-decoration: none;
      &.active {
        color: #00474d;
        font-weight: bold;
      }
    }
  }

  .dateBox {
    height: 330px;
  }

  .navBox {
    /* height: 320px; */
    overflow: hidden;
  }
}

.mediabox-wrapper {
  background-color: #dcedf2;
  position: relative;
  padding-bottom: 10px;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.media-slider {
  width: 973px;
  margin: 7px auto 0;
  background-color: #f5fafb;
  padding: 1px 0;

  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;

  a {
    float: left;
    display: block;
    color: #a7c6c9;
    font-size: 12px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;

    &.active {
      color: #00474d;
    }

    &.postings {
      background: url("../images/icons/posting-inactive.png") no-repeat 0 0;
      padding: 7px 0 0px 43px;
      margin-left: 14px;
      height: 20px;
      width: 70px;

      &.active {
        font-size: 12px;
        color: #00474d;
        font-weight: bold;
        background: url("../images/icons/postings.png") no-repeat 1px 2px;
        height: 20px;

      }

    }

    &.nachricten {
      background: url("../images/icons/nachriten.png") no-repeat 1px 1px;
      padding: 7px 0 0px 39px;
      height: 19px;
      margin-left: 50px;
      width: 80px;

      &.active {
        font-size: 12px;
        background: url("../images/icons/nach-red.png") no-repeat 0px -1px;
        font-weight: bold;
        color: #00474d;
      }
    }

    &.meinprofil {
      background: url("../images/icons/meinprofil.png") no-repeat 0px 0px;
      padding: 7px 0 0px 30px;
      height: 19px;
      margin-left: 50px;
      width: 73px;

      &.active {
        font-size: 12px;
        color: #00474d;
        font-weight: bold;
        background: url("../images/icons/meinprofile_active.png") no-repeat -1px -2px;

      }
    }

    &.potenzialcheck {
      background: url("../images/icons/potenzial.png") no-repeat 0 2px;
      padding: 7px 0 0px 25px;
      height: 17px;
      margin-left: 50px;
      width: 93px;

      &.active {
        font-size: 12px;
        color: #00474d;
        font-weight: bold;

      }
    }

    &.info {
      background: url("../images/icons/info.png") no-repeat 0 6px;
      padding: 7px 0 0px 22px;
      height: 14px;
      margin-left: 50px;
      width: 144px;

      &.active {
        font-size: 12px;
        color: #00474d;
        font-weight: bold;

      }
    }

  }
}

.group-by {
  width: 973px;
  margin: 0 auto 6px;
  background-color: #f5fafb;
  padding: 3px 0;

  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;

  a {
    float: left;
    display: block;
    color: #a7c6c9;
    font-size: 12px;
    margin: 0;
    text-decoration: none;


    &.offen {
      background: url("../images/icons/offentliche-posting.png") no-repeat 0 0;
      padding: 7px 0 1px 58px;
      margin-left: 14px;
      width: 138px;

      &.active {
        font-size: 12px;
        color: #00474d;
        font-weight: bold;

      }
    }

    &.gruppen {
      background: url("../images/icons/gruppen-postings.png") no-repeat 0 0;
      padding: 6px 0 0px 62px;
      height: 19px;
      margin-left: 65px;
      width: 123px;

      &.active {
        font-size: 12px;
        color: #00474d;
        font-weight: bold;

      }
    }

    &.meine {
      background: url("../images/icons/meine-postings.png") no-repeat 0 0px;
      padding: 7px 0 0px 53px;
      height: 19px;
      margin-left: 55px;
      width: 148px;

      &.active {
        font-size: 12px;
        color: #00474d;
        font-weight: bold;

      }
    }

  }
}

#left {
  color: transparent;
  position: absolute;
  width: 74px;
  background-color: #dcedf2;
  left: 0;
  height: 329px;
  top: 0px;
  background: url('../images/icons/nav-left.png') #dcedf2 no-repeat center center;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

#right {
  color: transparent;
  position: absolute;
  width: 74px;
  background-color: #dcedf2;
  right: 0;
  height: 329px;
  top: 0px;
  background: url('../images/icons/nav-right.png') #dcedf2 no-repeat center center;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}