// Responsive design mixin
@mixin respond-to($type) {
    @if $type == desktop {
        @media (min-width: $desktop) {
            $content
        }
    } @else if $type == tablet {
        @media (min-width: $tablet) and (max-width: $desktop) {
            $content
        }
    } @else if $type == phone {
        @media (max-width: $phone) {
            $content
        }
    }
}