.rootMenu {
  margin: 0;
  padding: 0;
}
.rootMenu li
{
  margin: 0;
  padding: 0;
  list-style: none;
  //height: 21px;
  //line-height: 1.8;
}
.rootMenu a {
  color: #86acb3;
  font-size: 14px !important;
  display:block;
  height: 25px !important;
  position: static !important;
}
.rootMenu a.icons-info {
  float: right;
  width: 16px;
  height: 16px !important;
  margin-top: 1px;
}
.rootMenu a.label {
  width: 240px;
  padding-right: 40px;
}

.searchContainer .rootMenu {
  @for $i from 1 to 12 {
    a.icons-menu-#{$i} {
      @include sprite-background-position($icons-sprites, menu-#{$i}, 250px, 0px);
    }
  }

  a.icons-menu-8 {
    @include sprite-background-position($icons-sprites, menu-8, 250px, 4px);
  }

  a.icons-menu-9 {
    @include sprite-background-position($icons-sprites, menu-9, 253px, 0px);
  }
}



/* Main dropdown menu */

.dropdownMenu
{
  color: #555;
  margin: 3px -22px 0 0;
  width: 143px;
  position: relative;
  height: 17px;
  text-align:right;
}
.submenuMain
{
  @include background-image(linear-gradient(#99afb2, #c9d5d6));
  position: absolute;
  z-index: 99999;
  width: 348px;
  padding: 0 1px 0px 1px;
  display: none;
  margin-left: 10px;
  text-align: right;
  margin: 45px 517px;
  top: 12px;
  left: 20px;
  @include border-bottom-radius(10px);
}
.submenuMainInner
{
  background: #fbfafc;
  @include border-bottom-radius(10px);
  box-shadow: inset -1px 1px 1px 0px #c9d6d8;
  padding: 10px 20px;
  margin-bottom: 1px;
}
.dropdownMenu li a
{
  color: #555555;
  display: block;
  font-family: arial;
  font-weight: bold;
  padding: 6px 15px;
  cursor: pointer;
  text-decoration:none;
}

.dropdownMenu li a:hover
{
  background:#155FB0;
  color: #FFFFFF;
  text-decoration: none;
}
a.dropdownLinks
{
  font-size: 11px;
  line-height: 16px;
  color: #555;
  position: absolute;
  z-index: 110;
  display: block;
  padding: 11px 0 0 20px;
  height: 28px;
  width: 121px;
  margin: -11px 0 0 -10px;
  text-decoration: none;
  cursor: pointer;
}

/* Intranet dropdown menu */

.dropdown
{
  color: #555;
  margin: 3px -22px 0 0;
  width: 143px;
  position: relative;
  height: 17px;
  text-align:left;
}
.dropdown li a
{
  color: #555555;
  display: block;
  font-family: arial;
  font-weight: bold;
  padding: 6px 15px;
  cursor: pointer;
  text-decoration:none;
}

.dropdown li a:hover
{
  background:#155FB0;
  color: #FFFFFF;
  text-decoration: none;
}
.root
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  padding: 6px 0 0 14px;
  background: #f6fafc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  .checkLight, .checkFull {
    background: url("../images/check_full.png") 0px 0px no-repeat;
    padding: 0 0 0 27px;
    display: block;
  }
  .checkFull {
    background: url("../images/check_light.png") 0px 0px no-repeat;
  }
}