//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $fontColor;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

.float-l {
  float:left;
}

.float-r {
  float:right;
}

.mainContainer {
  margin: 0px auto;
  width: 1024px;
}