#mediabox .menu {
    @include border-radius(15px);
    display: block;
    height: 38px;
    width: 478px;
    z-index: 5;
    left: 105px;
    display: none;
    box-shadow: 0px 0px 12px 3px #ccc;
    background: #fff;
    position: absolute;
    top: 26px;
    left: 50px;
    display: none;
    padding: 2px 24px 19px 0px;
    margin-left: 28px;
    margin-top: 8px;

  &:before {
    content: '';
    width: 1px;
    height: 1px;
    position: absolute;
    right: 466px;
    top: -21px;
    left: 18px;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 0px solid #fff;
    border-bottom: 10px solid #fff;
    }

  span {
    margin: 34px 0px 4px -38px;
    position: absolute;
    color: #007a96;
    font-size: 11px;
  }

  ul {
    position: absolute;
    margin: 0px auto;
    margin-right: 70px;
    padding-top: 2px;
    width: 571px;
    padding-left: 5px;
  }

  li {
    list-style: none;
    border-right: 1px solid #d9ebf0;
    float: left;
    height: 50px;

    &.last {
      border: none;
    }
  }

   p {
     float: left;
     width: 111px;
     margin: 5px 0px 5px -2px;
     font-size: 11px;
     text-decoration: none;
     color: #1a171b;

     img {
       position: relative;
       top: 3px;
     }
   }

  .profil {
    height: 17px;
    float: left;
    width: 38px;
    font-size: 11px;
    text-decoration: none;
    color: #1a171b;
    padding: 31px 0 0 0px;
    background-position-x: 7px;
    background-position-y: -1158px;
    margin-top: 3px;
    margin-left: 2px;
    margin-right: 9px;
    color: #58bdcb;
  }

  .einladung {
    padding: 32px 0 0 0;
    float: left;
    font-size: 11px;
    text-decoration: none;
    color: #58bdcb;
    background-position-x: 15px;
    background-position-y: -1351px;
    margin: 1px 7px 0 7px;
  }

  .posting {
    float: left;
    padding: 28px 0 0 0;
    color: #58bdcb;
    font-size: 11px;
    text-decoration: none;
    margin: 6px 7px 0 7px;
    background-position-x: 19px;
    background-position-y: -1484px;
  }

  .komment {
    float: left;
    padding: 30px 0 0 0;
    color: #58bdcb;
    font-size: 11px;
    text-decoration: none;
    margin: 4px 7px 0 7px;
    background-position-x: 29px;
    background-position-y: -2809px;
  }

  .nach {
    float: left;
    padding: 25px 0 0 0;
    font-size: 11px;
    text-decoration: none;
    color: #58bdcb;
    background-position-x: 12px;
    margin: 9px 7px 0 7px;
  }

}

#mediabox .arrowChange {
  @include border-radius(15px);
  display: block;
  height: 38px;
  width: 478px;
  z-index: 5;
  left: 105px;
  display: none;
  box-shadow: 0px 0px 12px 3px #ccc;
  background: #fff;
  position: absolute;
  top: 26px;
  left: 50px;
  display: none;
  padding: 2px 24px 19px 0px;
  margin-left: 28px;
  margin-top: 8px;

  &:before {
    content: '';
    width: 1px;
    height: 1px;
    position: absolute;
    right: 450px;
    top: -11px;
    left: 449px;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 5px solid #fff;

  }

  span {
    margin: 34px 0px 4px -38px;
    position: absolute;
    color: #007a96;
    font-size: 11px;
  }

  ul {
    position: absolute;
    margin: 0px auto;
    margin-right: 70px;
    padding-top: 2px;
    width: 571px;
    padding-left: 5px;
  }

  li {
    list-style: none;
    border-right: 1px solid #d9ebf0;
    float: left;
    height: 50px;

    &.last {
      border: none;
    }
  }

  p {
    float: left;
    width: 111px;
    margin: 5px 0px 5px -2px;
    font-size: 11px;
    text-decoration: none;
    color: #1a171b;

    img {
      position: relative;
      top: 3px;
    }
  }

  .profil {
    height: 17px;
    float: left;
    width: 38px;
    font-size: 11px;
    text-decoration: none;
    color: #1a171b;
    padding: 31px 0 0 0px;
    background-position-x: 7px;
    background-position-y: -1158px;
    margin-top: 3px;
    margin-left: 2px;
    margin-right: 9px;
    color: #58bdcb;
  }

  .einladung {
    padding: 32px 0 0 0;
    float: left;
    font-size: 11px;
    text-decoration: none;
    color: #58bdcb;
    background-position-x: 15px;
    background-position-y: -1351px;
    margin: 1px 7px 0 7px;
  }

  .posting {
    float: left;
    padding: 28px 0 0 0;
    color: #58bdcb;
    font-size: 11px;
    text-decoration: none;
    margin: 6px 7px 0 7px;
    background-position-x: 19px;
    background-position-y: -1484px;
  }

  .komment {
    float: left;
    padding: 30px 0 0 0;
    color: #58bdcb;
    font-size: 11px;
    text-decoration: none;
    margin: 4px 7px 0 7px;
    background-position-x: 29px;
    background-position-y: -2809px;
  }

  .nach {
    float: left;
    padding: 25px 0 0 0;
    font-size: 11px;
    text-decoration: none;
    color: #58bdcb;
    background-position-x: 12px;
    margin: 9px 7px 0 7px;
  }

}


