#search .special {
  @include border-radius(15px);
  display: block;
  height: 38px;
  width: 426px;
  z-index: 5;
  display: none;
  box-shadow: 0px 0px 12px 3px #ccc;
  background: #fff;
  position: absolute;
  top: 59px;
  left: 42px;
  display: none;
  padding: 2px 24px 19px 0px;
  margin-left: 28px;
  margin-top: 4px;

  &:before {
    display: none;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -15px;
    right: 422px;
    border-width: 0 0 16px 11px;
    border-style: solid;
    border-color: transparent #fff;
  }


  span {
    margin: 32px 0px 4px -38px;
    position: absolute;
    color: #007a96;
    font-size: 11px;
  }

  ul  {
    position: absolute;
    margin: 0px auto;
    margin-right: 70px;
    padding-top: 2px;
    width: 436px;
    padding-left: 5px;
  }

  li {
    float: left;
    text-decoration: none;
    border-top: none;
  }

  p {
    float: left;
    margin-top: 2px;
    width: 113px;
    margin: 0px auto;
    font-size: 11px;
    text-decoration: none;

    img {
      position: relative;
      top: 3px;
    }
  }


  .profil-search {
    padding: 2px 48px 0px 42px;
    float: left;
    width: 48px;
    font-size: 11px;
    text-decoration: none;
    color: #1a171b;
    background-position-x: 7px;
    background-position-y: -1154px;
  }

  .einladung-search {
    padding: 35px 0px 0px 17px;
    float: left;
    font-size: 11px;
    text-decoration: none;
    color: #58bdcb;
    border-left: 1px solid #d9ebf0;
    background-position-x: 31px;
    background-position-y: -1349px;
  }

  .nach-search {
    float: left;
    padding: 35px 0px 0px 13px;
    font-size: 11px;
    text-decoration: none;
    color: #58bdcb;
    border-left: 1px solid #d9ebf0;
    background-position-x: 23px;
    background-position-y: -2866px;
  }

  .bookmark-search {
    float: left;
    padding: 35px 0px 2px 17px;
    font-size: 11px;
    text-decoration: none;
    color: #58bdcb;
    border-left: 1px solid #d9ebf0;
    background-position-x: 29px;
    background-position-y: -78px;
  }
}



#search .menuSearch {
  @include border-radius(15px);
  display: block;
  height: 38px;
  width: 426px;
  z-index: 5;
  display: none;
  box-shadow: 0px 0px 12px 3px #ccc;
  background: #fff;
  position: absolute;
  top: 19px;
  left: 42px;
  display: none;
  padding: 2px 24px 19px 0px;
  margin-left: 28px;
  margin-top: 4px;

  &:before {
    content: '';
    width: 1px;
    height: 1px;
    position: absolute;
    right: 466px;
    top: -21px;
    left: 18px;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 0px solid #fff;
    border-bottom: 10px solid #fff;
  }



  span {
    margin: 32px 0px 4px -38px;
    position: absolute;
    color: #007a96;
    font-size: 11px;
  }

  ul  {
    position: absolute;
    margin: 0px auto;
    margin-right: 70px;
    padding-top: 2px;
    width: 436px;
    padding-left: 5px;
  }

  li {
    float: left;
    text-decoration: none;
    border-top: none;
  }

  p {
    float: left;
    margin-top: 2px;
    width: 113px;
    margin: 0px auto;
    font-size: 11px;
    text-decoration: none;

    img {
      position: relative;
      top: 3px;
    }
  }


  .profil-search {
    padding: 2px 48px 0px 42px;
    float: left;
    width: 48px;
    font-size: 11px;
    text-decoration: none;
    color: #1a171b;
    background-position-x: 7px;
    background-position-y: -1154px;
  }

  .einladung-search {
    padding: 35px 0px 0px 17px;
    float: left;
    font-size: 11px;
    text-decoration: none;
    color: #58bdcb;
    border-left: 1px solid #d9ebf0;
    background-position-x: 31px;
    background-position-y: -1349px;
  }

  .nach-search {
    float: left;
    padding: 35px 0px 0px 13px;
    font-size: 11px;
    text-decoration: none;
    color: #58bdcb;
    border-left: 1px solid #d9ebf0;
    background-position-x: 23px;
    background-position-y: -2866px;
  }

  .bookmark-search {
    float: left;
    padding: 35px 0px 2px 17px;
    font-size: 11px;
    text-decoration: none;
    color: #58bdcb;
    border-left: 1px solid #d9ebf0;
    background-position-x: 29px;
    background-position-y: -78px;
  }

  .special {
  &:after {
    content: "";
    position: absolute;
    bottom: -16px;
    right: 422px;
    border-width: 0 0 16px 11px;
    border-style: solid;
    border-color: transparent #fff;
  }
}
}

