#search {
  position: relative;
  width: 876px;
  margin: 7px auto 0;
  background-color: #dcedf2;

  .left {
    position: absolute;
    color: transparent;
    width: 74px;
    background-color: #dcedf2;
    left: -74px;
    height: 100%;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: url(../images/icons/nav-left.png) #dcedf2 no-repeat center center;
  }

  .right {
    position: absolute;
    color: transparent;
    width: 74px;
    background-color: #dcedf2;
    right: -74px;
    height: 100%;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: url(../images/icons/nav-right.png) #dcedf2 no-repeat center center;
  }


  ul {
    margin: 15px 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    li {
      margin: 0 10px;
      padding: 0;
      position: relative;
      height: 20px;
      color: black;
      border-top: 1px solid #eaf6f7;

      &.first {
        border-top: none;
      }

      a {
        float: left;
        text-decoration: none;


        &.nothing
        {
          position: absolute;
          left: 22px;
          text-decoration: none;
          width: 22px;
          top: 0;

        }

        &.dot {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          width: 20px;
          padding: 3px;
          left: 38px;
          top: 3px;
          position: absolute;
          background: url("../images/icons/dot.png") 0px 5px no-repeat;
        }

        &.red {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          padding: 3px;
          width: 20px;
          left: 0;
          background: url("../images/icons/red.png") 0px 5px no-repeat;
        }

        &.orange {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          width: 20px;
          padding: 3px;
          background: url("../images/icons/orange.png") 0px 8px no-repeat;
        }

        &.yellow {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          padding: 3px;
          width: 20px;
          background: url("../images/icons/yellow.png") 0px 8px no-repeat;
        }

        &.green {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          padding: 3px;
          width: 20px;
          background: url("../images/icons/green.png") 0px 8px no-repeat;
        }

        &.lightblue {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          padding: 3px;
          width: 20px;
          background: url("../images/icons/lightblue.png") 0px 8px no-repeat;
        }

        &.blue {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          padding: 3px;
          width: 20px;
          background: url("../images/icons/blue.png") 0px 8px no-repeat;
        }

        &.violet {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          padding: 3px;
          width: 20px;
          background: url("../images/icons/violet.png") 0px 8px no-repeat;
        }

        &.erfahrungen {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          width: 20px;
          padding: 3px;
          background: url("../images/icons/yellow.png") 0px 8px no-repeat;
        }

        &.resourcen {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          padding: 3px;
          width: 20px;
          background: url("../images/icons/red.png") 0px 8px no-repeat;
        }

        &.fahigkeiten {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          width: 20px;
          padding: 3px;
          background: url("../images/icons/orange.png") 0px 8px no-repeat;
        }

        &.wunsche {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          padding: 3px;
          width: 20px;
          background: url("../images/icons/blue.png") 0px 8px no-repeat;
        }

        &.ziele {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          padding: 3px;
          width: 20px;
          background: url("../images/icons/lightblue.png") 0px 8px no-repeat;
        }

        &.kontakte {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          padding: 3px;
          width: 20px;
          background: url("../images/icons/green.png") 0px 8px no-repeat;
        }

        &.vision {
          float: left;
          text-decoration: none;
          font-size: 12px;
          color: #58bdcb;
          padding: 3px;
          width: 20px;
          background: url("../images/icons/violet.png") 0px 8px no-repeat;
        }

      }

      .link {
        float: left;
        text-decoration: none;
        font-size: 12px;
        color: #58bdcb;
        padding: 3px;


        .filter {
          position: absolute;
          left: 3px;
          width: 21px;
          text-decoration: none;
          top: 3px;

        }


      }

      .favorite {
        position: absolute;
        left: 22px;
        text-decoration: none;
        width: 22px;
        top: 0;
        background: url("../images/icons/star.png") 0px 5px no-repeat;
      }

      .red {
        position: absolute;
        left: 39px;
        width: 20px;
        text-decoration: none;
        top: 3px;
        background: url("../images/icons/red.png") 0px 5px no-repeat;
      }


      .remove {
        position: absolute;
        right: 0;
        top: 0;
        color: transparent;
        text-decoration: none;
        background: url('../images/icons/close.png') no-repeat 45px 3px;
      }

      .holder {
        position: absolute;
        left: 100px;
        top: 0;
        max-width: 700px;
        width: 700px;
      }

      p {
        float: left;
        display: inline;
        margin: 0;
        font-size: 12px;
        padding: 3px;
        color: #4b4b4d;
      }

      .dropSearch {
        position: absolute;
        left: 51px;
        width: 45px;
        top: 3px;
        background: url("../images/icons/dropdown.png") 0 0 no-repeat;


      }
    }
  }
}

.search-filter {
  width: 973px;
  margin: 0 auto 15px;
  background-color: #f5fafb;
  padding: 5px 0;

  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;

  a {
    color: #99c7ca;
    font-size: 12px;
    text-align: center;
    float: left;
    display: block;
    text-decoration: none;
    margin-left: 48px;

    &.nothing
    {
      position: absolute;
      left: 22px;
      text-decoration: none;
      width: 22px;
      top: 0;
    }

    &.red {
      float: left;
      text-decoration: none;
      font-size: 12px;
      color: #58bdcb;
      width: 63px;
      padding: 0 0 0 20px;
      background: url("../images/icons/red.png") 2px 6px no-repeat;
    }

    &.orange {
      float: left;
      text-decoration: none;
      font-size: 12px;
      color: #58bdcb;
      padding: 0 0 0 20px;
      width: 68px;
      background: url("../images/icons/orange.png") 0 6px no-repeat;
    }

    &.yellow {
      float: left;
      text-decoration: none;
      font-size: 12px;
      color: #58bdcb;
      width: 74px;
      padding: 0 0 0 20px;
      background: url("../images/icons/yellow.png") 0 6px no-repeat;
    }

    &.green {
      float: left;
      text-decoration: none;
      font-size: 12px;
      color: #58bdcb;
      padding: 0 0 0 20px;
      width: 54px;
      background: url("../images/icons/green.png") 0 6px no-repeat;
    }

    &.lightblue {
      float: left;
      text-decoration: none;
      font-size: 12px;
      color: #58bdcb;
      padding: 0 0 0 20px;
      width: 30px;
      background: url("../images/icons/lightblue.png") 0 6px no-repeat;
    }

    &.blue {
      float: left;
      text-decoration: none;
      font-size: 12px;
      color: #58bdcb;
      padding: 0 0 0 20px;
      width: 55px;
      background: url("../images/icons/blue.png") 0 6px no-repeat;
    }

    &.violet {
      float: left;
      text-decoration: none;
      font-size: 12px;
      color: #58bdcb;
      padding: 0 0 0 27px;
      width: 34px;
      background: url("../images/icons/violet.png") 0 5px no-repeat;
    }
  }
}

