.searchContainer a.icons-post {
  background-color: #f8fbfc;
}

.searchContainer a.icons-clip_03 {
  width: 29px;
  height: 12px;
  z-index: 5;
  position: absolute;
  left: 661px;
  top: 8px;
}

.closeTop {
    &.icons-close {
      text-decoration:none;
    }
}