// Color Base
$colorBase: #333 !default;
$colorDarker: #000 !default;
$colorLighter: #eee !default;

$blue: #8bb5b9;
$black: #666666;

// Accent colors
$colorAccent: #46a546 !default;
$colorLink: #ffc40d !default;
$colorHeadings: #46a546 !default;

// Typography
$fontColor: #666666 !default;
$baseFontSize: 13px !default;
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$baseLineHeight: 18px !default;
$altFontFamily: Georgia, "Times New Roman", Times, serif !default;

$headingsFontWeight: bold !default;

// Forms
$inputBackground: $colorLighter !default;
$inputBorder: $colorBase !default;

// Breakpoints for responsive design
$desktop: 1920px;
$tablet: 1024px;
$phone: 480px;